<nav
  class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0"
  style="background-color: #ffede7"
>
  <div class="container">
    <a class="navbar-brand" href="#">Vathana</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
      aria-controls="collapsibleNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Updated this ID -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link px-3" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="chouseus">Chouse us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link px-3" routerLink="service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="contactus">Contact us</a>
        </li>
      </ul>

      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link pe-3" href="#!"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#!"> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-3" href="#!"> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
